@{
    ViewData["Title"] = "Home Page";
}

@model ImageData
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>QR Generator.</p>
    <div>
        <input id="btn_name0" type="button" class="btn btn-danger" value="Генерировать" data-id="3" />

        <form asp-action="create" asp-controller="Home">
            <img id="MainImage" alt="QR" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.data)" style="width:120px;" />
            <input type="submit" class="btn-danger btn" value="Generate 1" style="display:none1;" />
        </form>
        
    </div>
</div>
